#tf-about{
	background-image: linear-gradient(to right, transparent 26%, white 93%), url(/static/media/perfil.eb24649a.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: scroll;
	background-repeat: no-repeat;
	color: #222222;
	width: 760px;
	background-position: 0px 0px;
}

#tf-about .overlay{
	height: auto;
	background-attachment: fixed;
	padding: 10% 0;
}

.text-profile{
	text-align: justify;
}