#tf-education{
	background: url(../../static/img/10.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: scroll;
	background-repeat: no-repeat;
	color: #222222;
}

#tf-education .overlay{
	height: auto;
	background-attachment: fixed;
	padding: 5% 0;
}

#tf-education ul li{
	display: block;
	text-align: justify;
	padding-top: 5px;
}