#tf-portfolio{
	background: #f1f1f1;
	padding: 5%  0 8% 0;
	text-align: center;
}

#tf-portfolio .proy-description{
	position: absolute;
  top: 0;
  bottom: 0;
  left: 0;  
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  background-color: #60B2E9;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#tf-portfolio .proy-description:hover{
  opacity: 1;
}

.proy-description p{
  font-size: 20px;
}

.section-title hr{
	border-color: #60B2E9;
	width: 60px;
}

.section-title h2{ font-weight: 700;}
button.btn,
a.btn {
	margin: 15px 5px;
	transition: all 0.5s;
}